<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <%= image_tag @photo.resource_url, class: 'card-image-top', height: 500 %>
      <div class="card-body">
        <h5 class="card-title"><%= @photo.title %></h2>
        <p class="card-text"><%= @photo.caption %></p>
      </div>
      <ul class="list-group list-group-flush">
        <%= render 'form', photo: @photo, comment: @comment %>
        <%= render 'comments/thread', comments: @photo.comments, highlight: nil %>
      </ul>
    </div>
  </div>
</div>