<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <%= image_tag @photo.resource_url, class: 'card-image-top', height: 500 %>
      <div class="card-body">
        <h5 class="card-title"><%= @photo.title %></h2>
        <p class="card-text"><%= @photo.caption %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= form_for [@photo, @comment], html: { class: 'form-inline' } do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :photo_id, value: @photo.id %>
            <%= form.text_field :body, class: 'form-control mr-1', placeholder: 'Leave a comment.' %>
            <%= form.submit 'Post', class: 'btn btn-primary' %>
          <% end %>
        </li>
        <% @photo.comments.each do |comment| %>
          <li class="list-group-item">
            <label><%= comment.user.name %>:</label>
            <%= comment.body %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>