<div class="row">
  <div class="col-1">
    <a class="avatar float-left" href="<%= album_url(album) %>">
      <% if album.photos.empty? %>
        <%= image_tag '/images/avatar.jpg' %>
      <% else %>
        <%= image_tag album.photos.first.resource_url %>
      <% end %>
    </a>
  </div>
  <div class="col">
    <%= link_to album.title, album, class: 'card-title text-primary' %>
  </div>
  <div class="col-1">
    <% if can? :destroy, album %>
      <%= link_to 'Delete', album_url(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'float-right text-danger' %>
    <% end %>
  </div>
</div>